#modal-image {
    max-width: 100%;
    width: 300px;
    height: 350px; 
    display: block;
    margin-left: auto;
    margin-bottom: 15px;
    border-radius: 5px; 
}

#searchInput {
    padding: 10px;
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
    top: 48px;
    border: 1px solid rgb(44, 44, 44);
    border-radius: 5px;
    position: relative;
}

h4 {
    position: relative;
    left: 575px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    border-radius: 8px;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#modal-title {
    margin-top: 0;
    margin-bottom: 10px;
}

#modal-description {
    margin-bottom: 15px;
}

.item {
    flex-direction: column;
}

.galaxy_s24_img {
    position: relative;
    width: 350px;
    height: 350px;
    border: 1px solid rgb(44, 44, 44);
    border-radius: 5px;
    left: 325px;
    top: 0px;
}

.galaxy_s24 {
    position: relative;
    top: -18px;
    left: 425px;
}

.galaxy_s24_p {
    position: relative;
    top: -26px;
    left: 360px;
}

.galaxy_s24_price {
    position: relative;
    top: -35px;
    left: 430px;
}

.galaxy_s24_button {
    position: relative;
    left: 515px;
    top: -70px;
    border-radius: 5px;
    background-color: green;
    color: white;
}



.iPhone_15 {
    position: relative;
    left: 840px;
    top: -520px;
}

.iPhone_15_img {
    position: relative;
    width: 350px;
    height: 350px;
    border: 1px solid rgb(44, 44, 44);
    border-radius: 5px;
    left:685px;
    top: -506px;
}

.iPhone_15_p {
    position: relative;
    left: 790px;
    top: -530px;
}

.iPhone_15_price {
    position: relative;
    top: -540px;
    left: 805px;
}

.iPhone_15_button {
    position: relative;
    left: 890px;
    top: -574px;
    border-radius: 5px;
    background-color: green;
    color: white;
}

.xiaomi_14 {
    position: relative;
    left: 1180px;
    top: -1025px;
}

.xiaomi_14_img {
    position: relative;
    width: 350px;
    height: 350px;
    border: 1px solid rgb(44, 44, 44);
    border-radius: 5px;
    left:1045px;
    top: -1012px;
}

.xiaomi_14_p {
    position: relative;
    left: 1140px;
    top: -1038px;
}

.xiaomi_14_price {
    position: relative;
    top: -1040px;
    left: 1153px;
}

.xiaomi_14_button {
    position: relative;
    left: 1240px;
    top: -1075px;
    border-radius: 5px;
    background-color: green;
    color: white;
}

.iqooneo_9spro {
    position: relative;
    left: 1180px;
    top: -946px;
}

.iqooneo_9spro_img {
    position: relative;
    width: 350px;
    height: 350px;
    border: 1px solid rgb(44, 44, 44);
    border-radius: 5px;
    left:1050px;
    top: -930px;
}

.iqooneo_9spro_p {
    position: relative;
    left: 1135px;
    top: -955px;
}

.iqooneo_9spro_price {
    position: relative;
    left: 1165px;
    top: -965px;
}

.iqooneo_9spro_button {
    position: relative;
    left: 1250px;
    top: -1000px;
    border-radius: 5px;
    background-color: green;
    color: white;
}

.poco_x7pro {
    position: relative;
    left: 840px;
    top: -1450px;
}

.poco_x7pro_img {
    position: relative;
    width: 350px;
    height: 350px;
    border: 1px solid rgb(44, 44, 44);
    border-radius: 5px;
    left:690px;
    top: -1435px;
}

.poco_x7pro_p {
    position: relative;
    left: 780px;
    top: -1460px;
}

.poco_x7pro_price {
    position: relative;
    left: 790px;
    top: -1465px;
}

.poco_x7pro_button {
    position: relative;
    left: 880px;
    top: -1500px;
    border-radius: 5px;
    background-color: green;
    color: white;
}

.oppo_findx7ultra_img {
    position: relative;
    width: 350px;
    height: 350px;
    border: 1px solid rgb(44, 44, 44);
    border-radius: 5px;
    left:328px;
    top: -1940px;
}

.oppo_findx7ultra {
    position: relative;
    top: -1955px;
    left: 450px;
}

.oppo_findx7ultra_p {
    position: relative;
    top: -1965px;
    left: 395px;
}

.oppo_findx7ultra_price {
    position: relative;
    top: -1965px;
    left: 435px;
}

.oppo_findx7ultra_button {
    position: relative;
    left: 525px;
    top: -2000px;
    border-radius: 5px;
    background-color: green;
    color: white;
}

.galaxy_s10_img {
    position: relative;
    width: 350px;
    height: 350px;
    border: 1px solid rgb(44, 44, 44);
    border-radius: 5px;
    left:328px;
    top: -1870px;
}

.galaxy_s10 {
    position: relative;
    top: -1889px;
    left: 450px;
}

.galaxy_s10_p {
    position: relative;
    top: -1900px;
    left: 410px;
}

.galaxy_s10_price {
    position: relative;
    top: -1900px;
    left: 430px;
}

.galaxy_s10_button {
    position: relative;
    left: 515px;
    top: -1935px;
    border-radius: 5px;
    background-color: green;
    color: white;
}

.iPhone_12_img {
    position: relative;
    width: 350px;
    height: 350px;
    border: 1px solid rgb(44, 44, 44);
    border-radius: 5px;
    left:690px;
    top: -2376px;
}

.iPhone_12 {
    position: relative;
    left: 841px;
    top: -2391px;
}

.iPhone_12_p {
    position: relative;
    left: 790px;
    top: -2405px;
}

.iPhone_12_price {
    position: relative;
    left: 800px;
    top: -2401px;
}

.iPhone_12_button {
    position: relative;
    left: 880px;
    top: -2435px;
    border-radius: 5px;
    background-color: green;
    color: white;
}

.huaweiPura_p60_img {
    position: relative;
    width: 350px;
    height: 350px;
    border: 1px solid rgb(44, 44, 44);
    border-radius: 5px;
    left:1050px;
    top: -2882px;
}

.huaweiPura_p60 {
    position: relative;
    left: 1210px;
    top: -2895px;
}

.huaweiPura_p60_p {
    position: relative;
    left: 1140px;
    top: -2905px;
}

.huaweiPura_p60_price {
    position: relative;
    top: -2905px;
    left: 1155px;
}

.huaweiPura_p60_button {
    position: relative;
    left: 1238px;
    top: -2940px;
    border-radius: 5px;
    background-color: green;
    color: white;
}
