#searchInput {
    padding: 10px;
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
    top: 48px;
    border: 1px solid rgb(44, 44, 44);
    border-radius: 5px;
    position: relative;
}

h4 {
    position: relative;
    left: 575px;

}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    border-radius: 8px;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#modal-title {
    margin-top: 0;
    margin-bottom: 10px;
}

#modal-description {
    margin-bottom: 15px;
}

.item {
    flex-direction: column;
}

.galaxy_s24_img {
    position: relative;
    width: 350px;
    height: 350px;
    border: 1px solid rgb(44, 44, 44);
    border-radius: 5px;
    left: 325px;
    top: 0px;
}

.galaxy_s24 {
    position: relative;
    top: -18px;
    left: 425px;
}

.galaxy_s24_p {
    position: relative;
    top: -26px;
    left: 360px;
}

.galaxy_s24_button {
    position: relative;
    left: 475px;
    top: -32px;
    border-radius: 5px;
    background-color: green;
    color: white;
}

.iPhone_15 {
    position: relative;
    left: 840px;
    top: -491px;
}

.iPhone_15_img {
    position: relative;
    width: 350px;
    height: 350px;
    border: 1px solid rgb(44, 44, 44);
    border-radius: 5px;
    left:685px;
    top: -471px;
}

.iPhone_15_p {
    position: relative;
    left: 790px;
    top: -500px;
}

.iPhone_15_button {
    position: relative;
    left: 840px;
    top: -500px;
    border-radius: 5px;
    background-color: green;
    color: white;
}

.xiaomi_14 {
    position: relative;
    left: 1180px;
    top: -960px;
}

.xiaomi_14_img {
    position: relative;
    width: 350px;
    height: 350px;
    border: 1px solid rgb(44, 44, 44);
    border-radius: 5px;
    left:1045px;
    top: -943px;
}

.xiaomi_14_p {
    position: relative;
    left: 1140px;
    top: -970px;
}

.xiaomi_14_button {
    position: relative;
    left: 1190px;
    top: -975px;
    border-radius: 5px;
    background-color: green;
    color: white;
}

.iqooneo_9spro {
    position: relative;
    left: 1180px;
    top: -946px;
}

.iqooneo_9spro_img {
    position: relative;
    width: 350px;
    height: 350px;
    border: 1px solid rgb(44, 44, 44);
    border-radius: 5px;
    left:1050px;
    top: -930px;
}

.iqooneo_9spro_p {
    position: relative;
    left: 1135px;
    top: -955px;
}

.iqooneo_9spro_button {
    position: relative;
    left: 1205px;
    top: -960px;
    border-radius: 5px;
    background-color: green;
    color: white;
}

.poco_x7pro {
    position: relative;
    left: 840px;
    top: -1415px;
}

.poco_x7pro_img {
    position: relative;
    width: 350px;
    height: 350px;
    border: 1px solid rgb(44, 44, 44);
    border-radius: 5px;
    left:689px;
    top: -1400px;
}

.poco_x7pro_p {
    position: relative;
    left: 790px;
    top: -1430px;
}

.poco_x7pro_button {
    position: relative;
    left: 840px;
    top: -1435px;
    border-radius: 5px;
    background-color: green;
    color: white;
}

.oppo_findx7ultra_img {
    position: relative;
    width: 350px;
    height: 350px;
    border: 1px solid rgb(44, 44, 44);
    border-radius: 5px;
    left:328px;
    top: -1870px;
}

.oppo_findx7ultra {
    position: relative;
    top: -1890px;
    left: 450px;
}

.oppo_findx7ultra_p {
    position: relative;
    top: -1900px;
    left: 395px;
}

.oppo_findx7ultra_button {
    position: relative;
    left: 475px;
    top: -1905px;
    border-radius: 5px;
    background-color: green;
    color: white;
}
